<div class="row">
  <!-- statistic start -->
  <div class="col-md-6 col-lg-3">
    <app-card [hidHeader]="true" cardClass="statustic-card card-border-c-blue" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-blue border-0">
      <h5 class="text-left">Articles</h5>
      <span class="d-block text-c-blue f-36">56</span>
      <p class="m-b-0">Total</p>
      <ngb-progressbar type="primary" [value]="56"></ngb-progressbar>
      <div class="app-card-footer">
        <h6 class="text-white m-b-0">Draft: 22</h6>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <app-card [hidHeader]="true" cardClass="statustic-card card-border-c-green" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-green border-0">
      <h5 class="text-left">Categories</h5>
      <span class="d-block text-c-green f-36">14</span>
      <p class="m-b-0">Total</p>
      <ngb-progressbar type="success" [value]="56"></ngb-progressbar>
      <div class="app-card-footer">
        <h6 class="text-white m-b-0">Used: 14</h6>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <app-card [hidHeader]="true" cardClass="statustic-card card-border-c-red" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-red border-0">
      <h5 class="text-left">Tickets</h5>
      <span class="d-block text-c-red f-36">85</span>
      <p class="m-b-0">Total</p>
      <ngb-progressbar type="danger" [value]="85"></ngb-progressbar>
      <div class="app-card-footer">
        <h6 class="text-white m-b-0">Closed Today: 85</h6>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <app-card [hidHeader]="true" cardClass="statustic-card card-border-c-yellow" blockClass="text-center" [isCardFooter]="true" footerClass="bg-c-yellow border-0">
      <h5 class="text-left">Forums</h5>
      <span class="d-block text-c-yellow f-36">42</span>
      <p class="m-b-0">Total</p>
      <ngb-progressbar type="warning" [value]="85"></ngb-progressbar>
      <div class="app-card-footer">
        <h6 class="text-white m-b-0">Unanswered: 42</h6>
      </div>
    </app-card>
  </div>
  <!-- statistic end -->

  <!-- customer project start -->
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="icon feather icon-book f-30 text-c-blue"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted m-b-10">Tickets Answered</h6>
          <h2 class="m-b-0">379</h2>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="icon feather icon-navigation-2 f-30 text-c-green"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted m-b-10">Projects Launched</h6>
          <h2 class="m-b-0">205</h2>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="icon feather icon-users f-30 text-c-red"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted m-b-10">Happy Customers</h6>
          <h2 class="m-b-0">5984</h2>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true">
      <div class="row align-items-center m-l-0">
        <div class="col-auto">
          <i class="icon feather icon-award f-30 text-c-blue"></i>
        </div>
        <div class="col-auto">
          <h6 class="text-muted m-b-10">Unique Innovation</h6>
          <h2 class="m-b-0">325</h2>
        </div>
      </div>
    </app-card>
  </div>
  <!-- customer project end -->

  <!-- table card start -->
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="flat-card card-border-c-green" blockClass="p-0">
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-eye text-c-green mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>10k</h5>
              <span>Visitors</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-music text-c-red mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>100%</h5>
              <span>Volume</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-file-text text-c-blue mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>2000 +</h5>
              <span>Files</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-mail text-c-yellow mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>120</h5>
              <span>Mails</span>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="flat-card card-border-c-blue" blockClass="p-0">
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-share-2 text-c-blue mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>1000</h5>
              <span>Shares</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-wifi text-c-blue mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>600</h5>
              <span>Network</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-table">
        <div class="col-sm-6 card-body br">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-rotate-ccw text-c-blue mb-1 d-block"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>3550</h5>
              <span>Returns</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 card-body">
          <div class="row">
            <div class="col-sm-4">
              <i class="icon feather icon-shopping-cart text-c-blue mb-1 d-blockz"></i>
            </div>
            <div class="col-sm-8 text-md-center">
              <h5>100%</h5>
              <span>Order</span>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" blockClass="p-0" cardClass="flat-card widget-primary-card card-border-c-blue">
      <div class="row-table">
        <div class="col-sm-3 card-body">
          <i class="feather icon-star-on"></i>
        </div>
        <div class="col-sm-9">
          <h4>4000 +</h4>
          <h6>Ratings Received</h6>
        </div>
      </div>
    </app-card>
    <app-card [hidHeader]="true" blockClass="p-0" cardClass="flat-card widget-purple-card">
      <div class="row-table">
        <div class="col-sm-3 card-body">
          <i class="fas fa-trophy"></i>
        </div>
        <div class="col-sm-9">
          <h4>17</h4>
          <h6>Achievements</h6>
        </div>
      </div>
    </app-card>
  </div>
  <!-- table card end -->

  <!-- widget-statistic start -->
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="widget-statstic-card card-border-c-yellow">
      <div class="card-header-left mb-3">
        <h5 class="mb-0">Statistics</h5>
        <p class="p-t-10 m-b-0 text-c-yellow">Compared to last week</p>
      </div>
      <i class="feather icon-sliders st-icon bg-c-yellow"></i>
      <div class="text-left">
        <h3 class="d-inline-block">5,456</h3>
        <i class="feather icon-arrow-up f-30 text-c-green"></i>
        <span class="float-right bg-c-yellow">23%</span>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="widget-statstic-card card-border-c-red">
      <div class="card-header-left mb-3">
        <h5 class="mb-0">Unique Visitor</h5>
        <p class="p-t-10 m-b-0 text-c-red">55% From last 28 hours</p>
      </div>
      <i class="feather icon-users st-icon bg-c-red txt-lite-color"></i>
      <div class="text-left">
        <h3 class="d-inline-block">3,874</h3>
        <i class="feather icon-arrow-down text-c-red f-30 "></i>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="widget-statstic-card card-border-c-blue">
      <div class="card-header-left mb-3">
        <h5 class="mb-0">New Orders</h5>
        <p class="p-t-10 m-b-0 text-c-blue">54% From last month</p>
      </div>
      <i class="feather icon-shopping-cart st-icon bg-c-blue"></i>
      <div class="text-left">
        <h3 class="d-inline-block">5,456</h3>
        <i class="feather icon-arrow-up text-c-green f-30 "></i>
      </div>
    </app-card>
  </div>
  <!-- widget-statistic end -->

  <!-- subscribe start -->
  <div class="col-md-12 col-lg-4">
    <app-card [hidHeader]="true" blockClass="text-center" cardClass="card-border-c-blue">
      <i class="feather icon-mail text-c-blue d-block f-40"></i>
      <h4 class="m-t-20"><span class="text-c-blue">8.62k</span> Subscribers</h4>
      <p class="m-b-20">Your main list is growing</p>
      <button class="btn btn-primary btn-sm btn-round">Manage List</button>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <app-card [hidHeader]="true" blockClass="text-center" cardClass="card-border-c-green">
      <i class="feather icon-twitter text-c-green d-block f-40"></i>
      <h4 class="m-t-20"><span class="text-c-green">+40</span> Followers</h4>
      <p class="m-b-20">Your main list is growing</p>
      <button class="btn btn-success btn-sm btn-round">Check them out</button>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <app-card [hidHeader]="true" blockClass="text-center" cardClass="card-border-c-red">
      <i class="feather icon-briefcase text-c-red d-block f-40"></i>
      <h4 class="m-t-20">Business Plan</h4>
      <p class="m-b-20">This is your current active plan</p>
      <button class="btn btn-danger btn-sm btn-round">Upgrade to VIP</button>
    </app-card>
  </div>
  <!-- subscribe end -->

  <!-- order start -->
  <div class="col-md-12 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-yellow order-card borderless">
      <h6 class="text-white">Revenue</h6>
      <h2 class="text-white">$42,562</h2>
      <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10"></i></p>
      <i class="card-icon feather icon-filter"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card borderless">
      <h6 class="text-white">Orders Received</h6>
      <h2 class="text-white">486</h2>
      <p class="m-b-0">$5,032 <i class="feather icon-arrow-up m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-down"></i></p>
      <i class="card-icon feather icon-users"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card borderless">
      <h6 class="text-white">Total Sales</h6>
      <h2 class="text-white">1641</h2>
      <p class="m-b-0">$5,032 <i class="feather icon-arrow-down m-l-10 m-r-10"></i>$1,055 <i class="feather icon-arrow-up"></i></p>
      <i class="card-icon feather icon-radio"></i>
    </app-card>
  </div>
  <!-- order end -->

  <!-- order-visitor start -->
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="text-center order-visitor-card">
      <h6 class="m-b-0">Total Subscription</h6>
      <h4 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-down m-r-15 text-c-red"></i>7652</h4>
      <p class="m-b-0">48% From Last 24 Hours</p>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="text-center order-visitor-card">
      <h6 class="m-b-0">Order Status</h6>
      <h4 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-up m-r-15 text-c-green"></i>6325</h4>
      <p class="m-b-0">36% From Last 6 Months</p>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="text-center order-visitor-card">
      <h6 class="m-b-0">Unique Visitors</h6>
      <h4 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-down m-r-15 text-c-red"></i>652</h4>
      <p class="m-b-0">36% From Last 6 Months</p>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="text-center order-visitor-card">
      <h6 class="m-b-0">Monthly Earnings</h6>
      <h4 class="m-t-15 m-b-15"><i class="icon feather icon-arrow-up m-r-15 text-c-green"></i>5963</h4>
      <p class="m-b-0">36% From Last 6 Months</p>
    </app-card>
  </div>
  <!-- order-visitor end -->

  <!-- project start -->
  <div class="col-md-12 col-xl-6 ">
    <app-card [hidHeader]="true" cardClass="app-design">
      <button class="btn btn-primary float-right">Completed</button>
      <h6 class="f-w-400 text-muted">App Design And Development</h6>
      <p class="text-c-blue f-w-400">Android</p>
      <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
      <div class="design-description d-inline-block m-r-40">
        <h3 class="f-w-400">678</h3>
        <p class="text-muted">Question</p>
      </div>
      <div class="design-description d-inline-block">
        <h3 class="f-w-400">1,452</h3>
        <p class="text-muted">Comments</p>
      </div>
      <div class="team-box p-b-20">
        <p class="d-inline-block m-r-20 f-w-400">Team</p>
        <div class="team-section d-inline-block">
          <a href="javascript:"><img src="assets/images/user/avatar-2.jpg " data-toggle="tooltip" title="Josephin Doe" alt=" "></a>
          <a href="javascript:"><img src="assets/images/user/avatar-3.jpg " data-toggle="tooltip" title="Lary Doe" alt=" " class="m-l-5 "></a>
          <a href="javascript:"><img src="assets/images/user/avatar-4.jpg " data-toggle="tooltip" title="Alia" alt=" " class="m-l-5 "></a>
          <a href="javascript:"><img src="assets/images/user/avatar-2.jpg " data-toggle="tooltip" title="Suzen" alt=" " class="m-l-5 "></a>
        </div>
      </div>
      <div class="progress-box">
        <ngb-progressbar type="primary" [value]="78"></ngb-progressbar>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-6 ">
    <app-card [hidHeader]="true" cardClass="app-design">
      <button class="btn btn-success float-right">Pending</button>
      <h6 class="f-w-400 text-muted">Landing Page Design</h6>
      <p class="text-c-green f-w-400">Webdesign</p>
      <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
      <div class="design-description d-inline-block m-r-40">
        <h3 class="f-w-400">271</h3>
        <p class="text-muted">Question</p>
      </div>
      <div class="design-description d-inline-block">
        <h3 class="f-w-400">816</h3>
        <p class="text-muted">Comments</p>
      </div>
      <div class="team-box p-b-20">
        <p class="d-inline-block m-r-20 f-w-400">Team</p>
        <div class="team-section d-inline-block">
          <div class="team-section d-inline-block">
            <a href="javascript:"><img src="assets/images/user/avatar-3.jpg " data-toggle="tooltip" title="Lary Doe" alt=" " class="m-l-5 "></a>
            <a href="javascript:"><img src="assets/images/user/avatar-4.jpg " data-toggle="tooltip" title="Alia" alt=" " class="m-l-5 "></a>
            <a href="javascript:"><img src="assets/images/user/avatar-2.jpg " data-toggle="tooltip" title="Josephin Doe" alt=" "></a>
            <a href="javascript:"><img src="assets/images/user/avatar-3.jpg " data-toggle="tooltip" title="Suzen" alt=" " class="m-l-5 "></a>
          </div>
        </div>
      </div>
      <div class="progress-box">
        <ngb-progressbar type="success" [value]="78"></ngb-progressbar>
      </div>
    </app-card>
  </div>
  <!-- project end -->

  <!-- social download start -->
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true" cardClass="social-card bg-c-red">
      <div class="row align-items-center">
        <div class="col-auto">
          <i class="feather icon-mail f-34 text-c-red social-icon"></i>
        </div>
        <div class="col">
          <h6 class="m-b-0 text-white">Mail</h6>
          <p>231.2w downloads</p>
          <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
        </div>
      </div>
      <a href="javascript:" class="download-icon" [style.top]="0"><i class="feather icon-arrow-down"></i></a>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true" cardClass="social-card bg-c-blue">
      <div class="row align-items-center">
        <div class="col-auto">
          <i class="feather icon-twitter f-34 text-c-blue social-icon"></i>
        </div>
        <div class="col">
          <h6 class="m-b-0 text-white">Twitter</h6>
          <p>231.2w downloads</p>
          <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
        </div>
      </div>
      <a href="javascript:" class="download-icon" [style.top]="0"><i class="feather icon-arrow-down"></i></a>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true" cardClass="social-card bg-c-green">
      <div class="row align-items-center">
        <div class="col-auto">
          <i class="feather icon-instagram f-34 text-c-green social-icon"></i>
        </div>
        <div class="col">
          <h6 class="m-b-0 text-white">Instagram</h6>
          <p>231.2w downloads</p>
          <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
        </div>
      </div>
      <a href="javascript:" class="download-icon" [style.top]="0"><i class="feather icon-arrow-down"></i></a>
    </app-card>
  </div>
  <!-- social download end -->

  <!-- statistic with progressbar start -->
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="statustic-progress-card">
      <h5 class="mb-3">Open Ticket</h5>
      <div class="row align-items-center">
        <div class="col">
          <label class="badge badge-light-success">35% <i class="m-l-10 feather icon-arrow-up"></i></label>
        </div>
        <div class="col text-right">
          <h5 class="">35</h5>
        </div>
      </div>
      <div class="m-t-5">
        <ngb-progressbar type="success" [value]="35" [height]="10"></ngb-progressbar>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="statustic-progress-card">
      <h5 class="mb-3">Closed Ticket</h5>
      <div class="row align-items-center">
        <div class="col">
          <label class="badge badge-light-primary">35% <i class="m-l-10 feather icon-arrow-up"></i></label>
        </div>
        <div class="col text-right">
          <h5 class="">28</h5>
        </div>
      </div>
      <div class="m-t-5">
        <ngb-progressbar type="primary" [value]="28" [height]="10"></ngb-progressbar>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="statustic-progress-card">
      <h5 class="mb-3">Resolved Ticket</h5>
      <div class="row align-items-center">
        <div class="col">
          <label class="badge badge-light-danger">35% <i class="m-l-10 feather icon-arrow-up"></i></label>
        </div>
        <div class="col text-right">
          <h5 class="">87</h5>
        </div>
      </div>
      <div class="m-t-5">
        <ngb-progressbar type="danger" [value]="87" [height]="10"></ngb-progressbar>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="statustic-progress-card">
      <h5 class="mb-3">Pending Ticket</h5>
      <div class="row align-items-center">
        <div class="col">
          <label class="badge badge-light-warning">35% <i class="m-l-10 feather icon-arrow-up"></i></label>
        </div>
        <div class="col text-right">
          <h5 class="">32</h5>
        </div>
      </div>
      <div class="m-t-5">
        <ngb-progressbar type="warning" [value]="32" [height]="10"></ngb-progressbar>
      </div>
    </app-card>
  </div>
  <!-- statistic with progressbar end -->

  <!-- live view start -->
  <div class="col-xl-4 col-md-6">
    <app-card [hidHeader]="true">
      <h6 class="mb-1">New York , NY</h6>
      <span class="d-block mb-2">Monday 2:00 PM</span>
      <div class="row align-items-center justify-content-center">
        <div class="col-auto">
          <h2 class="text-c-purple m-0"><i class="feather icon-cloud-snow text-muted mr-2"></i>23<sup class="f-20">°</sup></h2>
        </div>
        <div class="col text-right">
          <div class="form-group mb-1">
            <label class="m-r-5 f-20 mb-0">°C</label>
            <div class="switch switch-primary d-inline">
              <input type="checkbox" id="switch-a-1" checked="">
              <label for="switch-a-1" class="cr"></label>
            </div>
            <label class="m-l-5 f-20 mb-0">°F</label>
          </div>
          <span class="d-block mt-1">Partly Cloudy</span>
        </div>
      </div>
    </app-card>
  </div>
  <!-- live view end -->

  <!-- active user start -->
  <div class="col-xl-4 col-md-6">
    <app-card cardTitle="Overdue tasks" [options]="false">
      <div class="row">
        <div class="col">
          <h2 class="m-0"><i class="feather icon-arrow-up text-c-green"></i>4</h2>
        </div>
        <div class="col text-right">
          <h5 class="text-c-green m-0">15%</h5>
          <span class="d-block">Last Month:6</span>
        </div>
      </div>
    </app-card>
  </div>
  <!-- active user end -->

  <!-- revenue-section start -->
  <div class="col-xl-4 col-md-12">
    <app-card [hidHeader]="true" blockClass="p-0">
      <div class="row d-flex align-items-center m-0">
        <div class="col-6 text-center">
          <div style="padding:20px 25px;">
            <h2 class="text-c-purple mb-0">19<sup class="f-20">°</sup></h2>
            <span>Sunny</span>
          </div>
        </div>
        <div class="col-6 text-center bg-primary p-0">
          <div style="padding:20px 25px;">
            <i class="feather icon-sun f-36 text-white"></i>
            <h6 class="mt-2 mb-0 text-white f-w-400">New York , NY</h6>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- revenue-section end -->

  <!-- social section start -->
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="social-widget-card" blockClass="bg-facebook">
      <h3 class="text-white m-0">1165 +</h3>
      <span class="m-t-10">Facebook Users</span>
      <i class="fab fa-facebook"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="social-widget-card" blockClass="bg-twitter">
      <h3 class="text-white m-0">780 +</h3>
      <span class="m-t-10">Twitter Users</span>
      <i class="fab fa-twitter"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="social-widget-card" blockClass="bg-linkedin">
      <h3 class="text-white m-0">998 +</h3>
      <span class="m-t-10">Linked In Users</span>
      <i class="fab fa-linkedin-in"></i>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="social-widget-card" blockClass="bg-googleplus">
      <h3 class="text-white m-0">650 +</h3>
      <span class="m-t-10">Google Plus Users</span>
      <i class="fab fa-google-plus-g"></i>
    </app-card>
  </div>
  <!-- social section end -->

  <!-- ticket, project, client start -->
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-danger lbl-card"><i class="fas fa-folder-open m-r-5"></i> Open Tickets</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-red">128</h2>
        <p class="m-b-0 d-inline-block">Tickets</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-down m-r-10 f-18 text-c-red"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-primary lbl-card"><i class="fas fa-file-archive m-r-5"></i> Close Tickets</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-blue">134</h2>
        <p class="m-b-0 d-inline-block">Tickets</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-blue"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-success lbl-card"><i class="fas fa-users m-r-5"></i> New Clients</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-green">307</h2>
        <p class="m-b-0 d-inline-block">Clients</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-green"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <div class="col-xl-3 col-md-6">
    <app-card [hidHeader]="true" cardClass="ticket-card">
      <p class="m-b-25 badge-light-warning lbl-card"><i class="fas fa-database m-r-5"></i> New Orders</p>
      <div class="text-center">
        <h2 class="m-b-0 d-inline-block text-c-yellow">231</h2>
        <p class="m-b-0 d-inline-block">Orders</p>
        <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-yellow"></i>From Previous Month</p>
      </div>
    </app-card>
  </div>
  <!-- ticket, project, client end -->

</div>
